<div id="CanvasContainer">
  <canvas id="CollaborativeCanvas" data-history-id="<%= @id %>"></canvas>
</div>
<hr>
<button id="clearHistory">Clear</button>
<%= javascript_include_tag 'collaborative_canvas' %>
