<div class="container case-study">

  <h1>BetaBrand Case Study</h1>

    <h2>Introduction</h2>

      <p>BetaBrand is an online clothing retailer that crowdsources and crowdfunds its designs from its community. BetaBrand provides a portal where users can submit an idea in any form, from a written proposal to a fully developed design. Users are allowed to vote on which clothing designs they would like to see prototyped by the betabrand team. Once prototypes are produced the community crowdfunds the clothing that they want and if interest goals are met the clothing is produced. Products that successfully navigate this process are available for purchase on BetaBrand’s main shop.</p>
      <p>BetaBrand began as Cordarounds in 2005, selling corduroy pants where the grain ran horizontally instead of vertically. The pants proved to be a successful as a novelty item and were featured in the New York Times 3 weeks after the company launched them. They out sold inventory and had about 3 months of back orders. During this time they developed their brand identity in weekly emails sent to customers waiting for their backordered product. The founder soon discovered that he had an incredible open rate on his mailing list.</p>
      <p>In 2010 capitalizing on the success of Cordarounds, BetaBrand proper was founded as an umbrella company to market and sell other products beyond the clothing industry. With plans to drive sales via a mailing list of over 8000 loyal customers. The primary vehicle for encouraging purchases were videos and live stunts around novel products that had a high rate of viral sharing. During this time Betabrand also began it’s “Model Citizen” program which encouraged customers to send in pictures of them wearing Betabrand products in exchange for a store discount.</p>
      <p>In 2013 BetaBrand opened its first (and only) brick and mortar in the mission district of San Francisco. Around the same time BetaBrand launched its “Think Tank” platform, which allows its community members to submit and vote on clothing designs that BetaBrand would develop. Since then they have been churning out many popular designs such as the dress pant yoga pants and Karate Casual Lounge Pants.</p>

    <h2>Overview</h2>

      <p>BetaBrand offers 4 main services on its website, storefront, think tank, crowdfunding, and model citizen.</p>

      <h3>Storefront</h3>
      <p>BetaBrand functions similar to other ecommerce sites offering a variety of products for men and women including pants, shirts, hoodies, skirts, dresses, jackets, shoes, tees, shorts, sweaters, denim products, socks, and bags. In addition to traditional browsing options customers can browse BetaBrand’s innovative products by collections including Crowdfunding Hits, West Coast Workwear, Dress Pant Sweatpants, Bike to Work, SuckerLab, Karate Casual, and Sock Insurance.</p>

      <h3>Think Tank</h3>
      <p>Think Tank is where community members can submit their design ideas. The community then votes on the designs they like most and prototypes are produced.</p>

      <h3>Crowdfunding</h3>
      <p>In the crowdfunding section of the site customers can view the prototypes produced by the think tank section. To determine which products will make it to production and be offered in the storefront customers vote with their wallets by preordering products they are interested in. If a product reaches its goal of preorders it will be produced otherwise all of the customers who preordered will be refunded.</p>

      <h3>Model Citizen</h3>
      <p>Model Citizen is BetaBrand’s discount and customer loyalty program. User’s can upload pictures of themselves wearing BetaBrand products or promoting the brand and receive up to 20% off their next purchase. BetaBrand uses these photos on their product pages and in their branding.</p>

    <h2>Business Model</h2>

      <h3>Value Proposition</h3>
      <p>Betabrand allows it’s customers to suggests, fund the development of, and purchase clothing designs that they could not acquire anywhere else. By crowdsourcing it’s design process Betabrand encourages customers to become invested in the success of products they suggest. Betabrand offers fashion that is “by the people, for the people” rather than by some designer who does not understand their needs or wants. The crowdfunding process allows customers a low risk way to directly effect what BetaBrand produces.</p>

      <h3>Target Market</h3>
      <p>Betabrand targets primarily young professionals looking for unique and expressive fashions. The pricing model of products clearly communicates a luxury brand that expects to move product based on brand recognition and uniqueness rather than lowest pricing. As business that has one brick and mortar storefront and ships internationally, Betabrand targets a younger audience that is comfortable with online shopping and comfortable with crowdsourcing and crowdfunding concepts.</p>

      <h3>Revenue Model</h3>
      <p>BetaBrand employs a straightforward B2C business model, selling its custom clothing products directly to customers. It reduces the risk of this approach by employing crowdfunding to validate products before producing them.</p>

      <h3>Competitive Environment</h3>
      <p>BetaBrand competes in 2 spaces online clothing retail and crowdfunding. </p>
      <p>In the online clothing retail space betabrand competes against other novelty and high end retailers like Express, ThinkGeek, Lip Service and Jynx. It differentiates itself by offering customers more control over what fashions are produced and sold. Betabrand further differentiates itself by offering clothing concepts that are not available anywhere else like the dress pant yoga pants and the courdaround.</p>
      <p>In the crowdfunding space betabrand competes with general purpose sites like kickstarter and indiegogo. It differentiates itself by focusing on clothing and by using a single provider model. At kickstarter and indiegogo customers must trust that the individual requesting funding can deliver the product if they are funded. BetaBrand removes this risk because it produces all of the funded products itself.	</p>

    <h2>Results</h2>

      <p>Betabrand is privately held and does not appear to publish any public metrics for it’s investors. It has raised quite a bit of venture capital including a $1.3 million series A round led by OATV, a $6.5 million series B led by Foundry Group, and $15 million series C led by Foundry Group and Morgan Stanley. </p>
      <p>Media and investors alike point to BetaBrand’s innovative social media strategies and unique products as drives of past and future success. BetaBrand has proven itself to be adept at generating media buzz boasting features in The New York Times, TechCrunch, Fast Company, Kotaku, and more.</p>

    <h2>References</h2>

    <a href="https://www.betabrand.com/">https://www.betabrand.com/</a>
    <a href="https://www.betabrand.com/how-it-works">https://www.betabrand.com/how-it-works</a>
    <a href="https://www.betabrand.com/blog/33016/cordarounds-history-chris-lindland">https://www.betabrand.com/blog/33016/cordarounds-history-chris-lindland</a>
    <a href="http://money.cnn.com/2005/12/20/smbusiness/corduroy_biz20_1221/">http://money.cnn.com/2005/12/20/smbusiness/corduroy_biz20_1221/</a>
    <a href="http://missionlocal.org/2013/05/online-clothier-betabrand-opens-on-site-of-780-cafe/">http://missionlocal.org/2013/05/online-clothier-betabrand-opens-on-site-of-780-cafe/</a>
    <a href="http://www.theverge.com/2014/2/20/5430460/move-fast-and-sew-things-how-betabrand-turns-crazy-ideas-into-real-stuff">http://www.theverge.com/2014/2/20/5430460/move-fast-and-sew-things-how-betabrand-turns-crazy-ideas-into-real-stuff</a>
    <a href="https://www.indiegogo.com/">https://www.indiegogo.com/</a>
    <a href="https://www.kickstarter.com/">https://www.kickstarter.com/</a>
    <a href="http://techcrunch.com/2011/04/27/cult-clothing-line-betabrand-pockets-1-3-million-from-oatv/">http://techcrunch.com/2011/04/27/cult-clothing-line-betabrand-pockets-1-3-million-from-oatv/</a>
    <a href="http://www.foundrygroup.com/blog/2012/11/our-investment-in-betabrand/">http://www.foundrygroup.com/blog/2012/11/our-investment-in-betabrand/</a>
    <a href="http://www.globalcorporateventuring.com/article.php/12245/betabrand-sources-15m?tag_id=495">http://www.globalcorporateventuring.com/article.php/12245/betabrand-sources-15m?tag_id=495</a>
    <a href="https://www.betabrand.com/press">https://www.betabrand.com/press</a>

</div>
