<div class="container">
  <h1>Lab 1</h1>
  <form class="ecomm-interest-form" method="get" action="#">
    <label for"name">Name:</label>
    <input id="name" type="text" name="name">
    <br>
    <label for="coding-experince">Describe your previous experince writing code:</label>
    <textarea id="coding-experince" name="coding-experince"></textarea>
    How interested would you be in being taught to create web applications?
    <br>
    <input type="radio" name="interest" value="0">No thanks.
    <br>
    <input type="radio" name="interest" value="1">Only a litte bit.
    <br>
    <input type="radio" name="interest" value="2">Where can I learn more?
    <br>
    <input type="radio" name="interest" value="3">Totally!
    <br>
    <input type="radio" name="interest" value="4">Where do I sign up?
    <br>

    <input type="submit" name="action" value="Submit">

  </form>
</div>
