<div class="container">
  <img class="portrait" src="https://www.memberspluscu.org/wp-content/themes/membersplus/assets/images/headshot-placeholder.jpg">

  <h1 class="heading">Nick Rutowski</h1>

  <h2 class="heading">
    I am a Mentor and Experince Designer at
    <a href="http://lansingcodelab.com/">Lansing Code Lab</a>
  </h2>

  <p>
    I am studying Computer Science, Web Design, and UX at Michigan State University.
    I practice human-centered design as a member of Design for America
    and build web applications with html, css, js, and rails.
  </p>

  <div class="web-presence">
    <a href="https://github.com/Badsauce" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/nickrutowski" target="_blank">LinkedIn</a>
    <a href="mailto:nickrutowski@gmail.com" target="_blank">Email</a>
    <a href="https://twitter.com/BadSauce" target="_blank">Twitter</a>
    <a href="#" target="_blank">Resume</a>
  </div>
</div>
