<div class="container">
  <%= image_tag "my_face.jpg", :class => 'portrait' %>

  <h1 class="heading">Nick Rutowski likes to build stuff and teach people.</h1>

  <p class="fact-statement">
    He is Frontend Developer on the growth team at
    <a href="https://www.doordash.com/">DoorDash</a>
  </p>
  <p class="fact-statement">
    He is an advisor and GranDFAther at
    <a href="http://www.dfamsu.com/">Design for America</a>
  </p>
  <p class="fact-statement">
    He studied Computer Science, Web Design, and UX at
    <a href="http://www.msu.edu/">Michigan State University</a>
  </p>

  <div class="web-presence">
    <a class="web-presence-link" href="https://github.com/Badsauce" target="_blank">
      <i class="fa fa-github-square"></i>
    </a>
    <a class="web-presence-link" href="https://www.linkedin.com/in/nickrutowski" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a class="web-presence-link" href="mailto:nickrutowski@gmail.com" target="_blank">
      <i class="fa fa-envelope"></i>
    </a>
    <a class="web-presence-link" href="https://twitter.com/BadSauce" target="_blank">
      <i class="fa fa-twitter-square"></i>
    </a>
    <a class="web-presence-link" href=<%= asset_url "Resume2016.pdf"  %> target="_blank">
      <i class="fa fa-file-text-o"></i>
    </a>
  </div>
</div>
