.case-study {
  h1 {
    font-size: 1.5em;
  }

  h1, h2, h3, p {
    padding-bottom: 1em;
  }

  h1,h2,h3 {
    color: #15B1D4;
  }

  p, h3, a {
    font-size: .8em;
  }
  a {
    display: block;
  }
}
